.link {
  text-decoration: none;
  background-color: #4285f4;
  padding: 12px 20px;
  border-radius: 6px;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;
}

.text {
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}

.link:hover {
  transition: opacity 0.3s linear;
  opacity: 0.8;
}

.link:focus:not(:active) {
  border: 2px solid #f07d9c;
}
