.header {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  padding: 10px 0;
}

.logo {
  width: 150px;
  display: block;
}

.link {
  color: #000;
  text-decoration: none;
  outline: none;
}

.link:focus:not(:active) {
  color: #f07d9c;
}

.link:hover {
  transition: opacity 0.3s linear;
  opacity: 0.7;
}
